@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', Verdana, Georgia, 'Times New Roman', Times, serif;
}

body {

  background-color: #E4E3E3;
}

.container {
  margin: 2rem auto;
  padding: 2rem 0;
  width: 900px;
  height: fit-content;
  background-color: #fff;
  border-radius: 10px;
}

.container h1 {
  text-align: center;
  text-transform: uppercase;
}

.form {
  width: 90%;
  margin: auto;
}

.form .form-group {
  display: flex;
  flex-direction: column;
}

.form .form-group label {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 10px;
  padding: 0.2rem 0 0.2rem 0;
}

.form .form-group .form-control {
  height: 48px;
  background: #ECECEC;
  color: #000;
  border: none;
  outline: 1px solid #D9D9D9;
  border-radius: 4px;
  padding: 0 0 0 0.2rem;
  margin-bottom: 1rem;
  transition: background .2s linear, outline .1s ease-in-out;
  
  font-size: 16px;
  font-weight: 400;
}

.form .form-group.w-md {
  width: 45%;
  display: inline-flex;
  justify-content: space-between;
} 

.form .form-group.w-md.r {
  float: right;
}

.form .form-group.w-md .form-control {
  width: 100%;
}

.form .form-group .form-control.lg {
  height: 10rem; 
  padding: 0.2rem;
}

.form .form-group .form-control:focus {
  outline: 2px solid #000;
  background: #ECECEC;
}

.form button {
  width: 100%;
  padding: 12px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  background-color: #000;
  border-radius: 20px;
}

.form button:hover {
  background-image: linear-gradient(rgba(66, 66, 66, 0.4) 0 0);
}